/* your styles go here */
$templateColour: #F3F4F8;
$color-accent: #368EE0;
$color-green: #27AE61;
// functions.scss - Bootstrap functions
@import "modules/functions";
// variables-custom.scss - to change colour variant, rounded corners, etc.
@import "modules/variables-custom";
// semi-circle
.semi-circle {
  &-left{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  &-right {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
}
// background colors
.bg-color {
  &-theme {
    color: $templateColour !important;
    background-color: $brand-primary;
  }
  &-accent {
    color: $templateColour !important;
    background-color: $color-accent;
  }
}

.wakobo-toolbar {
  background: $color-green;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.flags {
  height: 30px;
  padding: 1px;
  margin: 2px;
}