$templateColour: #F3F4F8;
$color-accent: #368EE0;
@import "core-premium";

// semi-circle
.semi-circle {
  &-left{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
  &-right {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
}

// background colors
.bg-color {
  &-theme {
    color: $templateColour !important;
    background-color: $brand-primary;
  }
  &-accent {
    color: $templateColour !important;
    background-color: $color-accent;
  }
}

