/* your styles go here */
.semi-circle-left {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.semi-circle-right {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.bg-color-theme {
  color: #F3F4F8 !important;
  background-color: #43425D;
}

.bg-color-accent {
  color: #F3F4F8 !important;
  background-color: #368EE0;
}

.wakobo-toolbar {
  background: #27AE61;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.flags {
  height: 30px;
  padding: 1px;
  margin: 2px;
}
