{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="card">
        <div class="card-body">
            <h1 align="center"><strong>ABOUT US</strong></h1>
            <div class="row">
                <div class="col">
                    <img src="img/map.jpg">
                </div>
                <div class="col">
                    <h1 style="font-size: 100px">WHO ARE WE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae,
                        aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
                        consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo.
                        Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet
                        aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in
                        nulla egestas, dignissim elit at, imperdiet eros. Integer tristique posuere purus.
                        Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie
                        massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus,</p>
                    <button class="btn btn-social btn-fill btn-github btn-round btn-lg">
                        <i class="material-icons"></i> READ MORE
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}