{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="containe">
        <img class="card-img" src="img/newsfeed.jpg" alt="Card image" width="100%" height="600px">
        <div class="card-img-overlay">
          <div class="centered-1" style="font-size: 50px; color: white">
            <h1><strong>Charity Works we Do</strong></h1>
            <P></P>
            <P></P>
            <h4>Get information on what we are involved in,<br />
                what we are doing and what we have a<br />
                ccomplished so far</h4>
          </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card text-left" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h3>MUJINI SLUMS</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="about.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: sandybrown; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="#0">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: dodgerblue; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            rutrum. Nam egestas laoreet ligula, ac
                            elementum risus. Aliquam volutpat ex</p>
                        <a href="newsfeed.html">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-left" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h3>MUJINI SLUMS</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="about.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: sandybrown; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="#0">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: dodgerblue; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            rutrum. Nam egestas laoreet ligula, ac
                            elementum risus. Aliquam volutpat ex</p>
                        <a href="newsfeed.html">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-left" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h3>MUJINI SLUMS</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="about.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: sandybrown; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="#0">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: dodgerblue; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            rutrum. Nam egestas laoreet ligula, ac
                            elementum risus. Aliquam volutpat ex</p>
                        <a href="newsfeed.html">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-left" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h3>MUJINI SLUMS</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="mujini_slams.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: sandybrown; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="#0">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: dodgerblue; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            rutrum. Nam egestas laoreet ligula, ac
                            elementum risus. Aliquam volutpat ex</p>
                        <a href="newsfeed.html">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}