{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="containe">
        <img class="card-img" src="img/contact.jpg" alt="Card image" width="100%" height="600px">
        <div class="card-img-overlay">
          <div class="centered-1" style="font-size: 50px; color: white">
            <h1>Contact Us</h1>
            <P></P>
            <P></P>
            <h2>Need to know more about us?</h2>
              <h2>Contact us today</h2>
          </div>
        </div>
    </div>
  <div class="card">
      <div class="card-body">
          <h3 align="center"><strong>Office Contacts</strong></h3>
          <div class="row">
              <div class="col">
                  <h4><strong>Selpher Wasike</strong></h4>
                  <h4>Office Manager</h4>
                  <p><i class="material-icons">email</i>selpher@wakobo.com</p>
                  <p><i class="material-icons">call</i>+254722000000</p>
              </div>
              <div class="col">
                  <h4><strong>Selpher Wasike</strong></h4>
                  <h4>Office Manager</h4>
                  <p><i class="material-icons">email</i>selpher@wakobo.com</p>
                  <p><i class="material-icons">call</i>+254722000000</p>
              </div>
              <div class="col">
                  <h4><strong>Selpher Wasike</strong></h4>
                  <h4>Office Manager</h4>
                  <p><i class="material-icons">email</i>selpher@wakobo.com</p>
                  <p><i class="material-icons">call</i>+254722000000</p>
              </div>
          </div>

      </div>
  </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h2 align="center"><strong>Write To Us</strong></h2>
                    <div class="form-group">
                        <label class="bmd-label-floating" for="full_name">Full Name</label>
                        <input type="text" class="form-control" id="full_name">
                    </div>
                    <div class="form-group">
                        <label class="bmd-label-floating" for="mail">E mail</label>
                        <input type="text" class="form-control" id="mail">
                    </div>
                    <div class="input-group">
                        <label class="bmd-label-floating">Message</label>
                        <textarea class="form-control" aria-label="With textarea"></textarea>
                    </div>
                    <button class="btn btn-primary btn-round btn-lg btn-success">
                        <i class="material-icons"></i> Send
                    </button>
                </div>
                <div class="col">
                    <h2 align="center"><strong>Locate Us</strong></h2>
                    <img src="img/map.jpg">
                    <div class="">
                            <button class="btn btn-primary btn-fab btn-success btn-fab-mini btn-round">
                                <i class="material-icons">location_on</i>
                            </button>
                            <p>123 House,
                                Street town,
                                Country</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}