{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="card bg-dark text-white">
        <img class="card-img" src="img/welcome.jpg" alt="Card image" width="50px" height="600px">
        <div class="card-img-overlay">
                <div class="" align="center">
                    <h1 class="card-title" style="font-size: 50px">Welcome to WAKABO!</h1>
                    <P></P>
                    <P></P>
                    <h2>The business established by a dream.</h2>
                    <P></P>
                    <P></P>
                    <button class="btn btn-primary btn-round btn-lg btn-success">
                        <i class="material-icons"></i> Learn more
                    </button>
                </div>
            <P></P>
            <P></P>
            <div class="page">
                {% include "partials/slider.html" %}
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}