{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}
        <div class="page">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
            <style>
                /* Make the image fully responsive */
                .carousel-inner img {
                    width: 100%;
                    height: 500px;
                }
            </style>

            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/welcome.jpg" alt="Los Angeles" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="img/charity.jpg" alt="Chicago" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="img/contact.jpg" alt="New York" width="1100" height="500">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
<div class="card">
    <h2 align="center" >MUJINI SLUMS</h2>
    <h3 align="center">LOCATION | 24TH JUNE 2018</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
        consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros.
        Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius massa mattis quis.
        Nunc ultrices urna eu nunc lobortis pulvinar. Duis viverra, quam non imperdiet scelerisque, urna nunc consequat velit, in mollis erat nibh in libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
        consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros.
        Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius massa mattis quis.
        Nunc ultrices urna eu nunc lobortis pulvinar. Duis viverra, quam non imperdiet scelerisque, urna nunc consequat velit, in mollis erat nibh in libero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
        consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros.
        Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius massa mattis quis.
        Nunc ultrices urna eu nunc lobortis pulvinar. Duis viverra, quam non imperdiet scelerisque, urna nunc consequat velit, in mollis erat nibh in libero.</p>
    <div class="card-body">
        <h2 align="center">More Charity Works</h2>
        <div class="row">
            <div class="col">
                <div class="card text-left" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h3>MUJINI SLUMS</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="about.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: sandybrown; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="#0">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style="background-color: dodgerblue; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            rutrum. Nam egestas laoreet ligula, ac
                            elementum risus. Aliquam volutpat ex</p>
                        <a href="newsfeed.html">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-right" style=" background-color: limegreen; color: white;">
                    <div class="card-body">
                        <h2 style="text-align: center;">MUJINI SLUMS</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Aliquam
                            aliquam diam sit amet elit hendrerit
                            rutrum. Nam egestas laoreet ligula, ac</p>
                        <a href="about.html">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}