{% set login = true %}

{% extends "base.html" %}

{% block content %}
{% include "partials/header-l.html" %}

<div class="page login-page">
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2 col-12 bg-white" style="margin-bottom: 10px;">
            <div class="container align-items-center">
                <div class="form-holder has-shadow flex-column">
                    <div class=" d-flex align-items-stretch flex-column center-block">
                        <div class="text-center">
                            <img src="img/logo.png" class="img-responsive align-items-center" height="80px" width="80px" style="margin-top: 10px;">
                        </div>
                        <div class="p-2">
                            <h4 class="text-center"><strong>Login</strong></h4>
                        </div>
                        <div class="p-2">
                            <div class="text-grey text-size-sm text-center">Welcome back, please login to your account
                            </div>
                        </div>
                        <div class="p-2 ">
                            <form method="post" class="form-validate">
                                <div class="form-group">
                                    <label for="msisdn" class="bmd-label-floating">Mobile Number</label>
                                    <input type="tel" class="form-control" id="msisdn">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="bmd-label-floating">Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </form>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Remember Me
                                    <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                </label>
                            </div>
                            <div class="p-2">
                                <a href="reset.html" class="">Forgot Password</a>
                            </div>
                        </div>
                        <div class="p-2 d-flex align-content-stretch w-100">
                            <button id="login" href="index.html" class="btn btn-primary w-100">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}