{% set register = true %}

{% extends "base.html" %}

{% block content %}
{% include "partials/toolbar.html" %}

<div class="page login-page">
    <div class="row">
        <div class="col-md-5 offset-md-3 col-12">
            <div class="">
                <div class="form-holder has-shadow flex-column">
                    <div class="bg-white">
                        <div class="p-2" align="center">
                            <img src="img/logo.png" class="img-responsive align-items-center" height="80px"
                                 width="80px">
                        </div>
                        <div class="p-2">
                            <h4 class="text-center"><strong>Wakobo (2018) limited</strong></h4>
                        </div>
                        <div class="p-2">
                            <div class="text-grey text-size-sm text-center">New user? Fill in your details to register here so that you can be able to login
                            </div>
                        </div>
                        <div class="p-2">
                            <form method="post" class="form-validate">
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="full_name">Full Name</label>
                                    <input type="text" class="form-control" id="full_name" required
                                           data-msg="Please enter your full name">
                                </div>
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="email">Email Address</label>
                                    <input type="text" class="form-control" id="email" required
                                           data-msg="Please enter your Email Address">
                                </div>
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="loginPassword">Password</label>
                                    <input type="password" class="form-control" id="loginPassword" required
                                           data-msg="Please enter your Password">
                                </div>
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="status">status</label>
                                    <input type="text" class="form-control" id="status" required
                                           data-msg="Please enter your Status">
                                </div>
                                <div class="p-2 d-flex align-content-stretch w-100">
                                    <button id="register" href="index.html" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}