{% set signup = true %}

{% extends "base.html" %}

{% block content %}
{% include "partials/header-registration.html" %}

<div class="container">
    <div class="row justify-content-md-center padding-top-xl">
        <div class="col-sm-4 col-sm-offset-4 card margin-top-sm">
            <div class="text-center">
                <img src="images/logo.png" class="img-responsive" height="80px" width="80px">
            </div>
            <div class="text-grey text-size-sm padding-md text-center padding-bottom-sm">Please Complete to Create Account</div>

            <div class=" margin-top-md padding-md">
                <form>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="text"  placeholder="First Name" id="first_name"/>
                        <label for="first_name" class="fa fa-vcard" rel="tooltip" title="First Name"></label>
                    </div>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="text"  placeholder="Last Name" id="last_name"/>
                        <label for="last_name" class="fa fa-vcard" rel="tooltip" title="Last Name"></label>
                    </div>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="email"  placeholder="Email Address" id="email"/>
                        <label for="email" class="fa fa-address-book" rel="tooltip" title="Email Address"></label>
                    </div>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="text"  placeholder="Username" id="username"/>
                        <label for="username" class="fa fa-user" rel="tooltip" title="User Name"></label>
                    </div>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="password"  placeholder="Password" id="password1"/>
                        <label for="password1" class="fa fa-lock" rel="tooltip" title="Password"></label>
                    </div>
                    <div class="form-group icon-addon addon-md">
                        <input class="form-control" type="password"  placeholder="Confirm Password" id="password2"/>
                        <label for="password2" class="fa fa-lock" rel="tooltip" title="Confirm Password"></label>
                    </div>
                    <a href="summary.html" class="btn bg-primary btn-block margin-top-lg">
                        Sign Up
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
