{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="containe">
        <img class="card-img" src="img/support.jpg" alt="Card image" width="100%" height="600px">
        <div class="card-img-overlay">
          <div class="centered-1" style="font-size: 50px; color: white">
            <h1>Support Us</h1>
            <P></P>
            <P></P>
            <h2>Do you want to be part of this work?</h2>
          </div>
        </div>
    </div>
  <div class="card">
    <div class="card-body">
      <h1 align="center"><strong>How To Partner With Us</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
          consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
          cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros.
          Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius massa mattis quis.
          Nunc ultrices urna eu nunc lobortis pulvinar. Duis viverra, quam non imperdiet scelerisque, urna nunc consequat velit, in mollis erat nibh in libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est
            consequat eu. Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum, auctor ac dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Donec at mauris porta, ullamcorper sem quis, lobortis sem. Donec sit amet aliquet dui, at varius est. Phasellus porttitor finibus neque vel vehicula. Duis in nulla egestas, dignissim elit at, imperdiet eros.
            Integer tristique posuere purus. Suspendisse placerat, quam vitae ullamcorper sollicitudin, dui ligula molestie massa, sit amet laoreet nibh ex vitae dui. Aenean laoreet pellentesque lacus, eget varius massa mattis quis.
            Nunc ultrices urna eu nunc lobortis pulvinar. Duis viverra, quam non imperdiet scelerisque, urna nunc consequat velit, in mollis erat nibh in libero.</p>
    </div>
      <div class="card-body">
          <h3 align="center"><strong>Payment Methods</strong></h3>
          <div class="row">
              <div class="col">
                  <h4>Payment Name</h4>
                  <p>Instruction Line 2<br />
                      Instruction Line 3<br />
                      Instruction Line 1</p>
              </div>
              <div class="col">
                  <h4>Payment Name</h4>
                  <p>Instruction Line 2<br />
                      Instruction Line 3<br />
                      Instruction Line 1</p>
              </div>
              <div class="col">
                  <h4>Payment Name</h4>
                  <p>Instruction Line 2<br />
                      Instruction Line 3<br />
                      Instruction Line 1</p>
              </div>
          </div>

      </div>
  </div>
</div>
{% include "partials/footer.html" %}
{% endblock %}