<!-- subscription part -->
<div class="card bg-dark text-white">
    <img class="card-img" src="img/image.jpg" alt="Card image" width="100%" height="">
    <div class="card-img-overlay">
        <div class="row">
            <div class="col-6 offset-1">
                <h1 class="card-title">Subscribe to our newsfeed</h1>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label class="bmd-label-floating" for="email"></label>
                    <input type="text" class="form-control" id="email">
                </div>
            </div>
            <div class="col-1">
                <button class="btn btn-primary btn-round btn-lg btn-success">
                    <i class="material-icons"></i> Sign up
                </button>
            </div>
        </div>
    </div>
</div>