<div class="header card">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 text-left ">
                <span class="h4 btn-group" style="vertical-align: middle">School System</span>
            </div>
            <div class="col-12 col-sm-12 col-md-6 text-right">
                <div class="btn-group btn-group" role="group" aria-label="signup_signin">
                    <button type="button" class="semi-circle-left bg-color-theme btn" onclick="goTo('index')">
                        <i class="fa fa-user"></i>
                        Login
                    </button>
                    <button type="button" class="semi-circle-right bg-color-accent btn" onclick="goTo('signup')">
                        <i class="fa fa-check"></i>
                        Signup
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
