<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-color-theme">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Previous School</label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-control-label">Level</label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-control-label">Marks Attained</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-control-label">Year Joined</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-control-label">Year Left</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-control-label">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>
-->