<header class="header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                <!-- Navbar Header-->
                <div class="navbar-header">
                    <!-- Navbar Brand -->
                    <a href="#" class="navbar-brand d-none d-sm-inline-block">
                        <div class="brand-text d-none d-lg-inline-block"><span>s </span><strong>ss</strong></div>
                    </a>
                </div>
                <div class="navbar-header">
                    <div class="btn-group btn-group navbar-brand d-none d-sm-inline-block" role="group" aria-label="signup_signin">
                        <button type="button" class="semi-circle-left bg-color-theme btn" onclick="goTo('index')">
                            <i class="fa fa-user"></i>
                            Login
                        </button><button type="button" class="semi-circle-right bg-color-accent btn" onclick="goTo('signup')">
                            <i class="fa fa-check"></i>
                            Signup
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>