<div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="http://www.wakobo.com" class="simple-text logo-mini">
            WL
        </a>
        <a href="http://www.wakobo.com" class="simple-text logo-normal">
            Wakobo Ltd
        </a>
    </div>
    <div class="sidebar-wrapper">

        <ul class="nav">
            <li class="nav-item active ">
                <a class="nav-link" href="dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="blog.html">
                    <i class="material-icons">group_add</i>
                    <p> Blogs
                    </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="setting.html">
                    <i class="material-icons">settings</i>
                    <p> Settings
                    </p>
                </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="user.html">
                    <i class="material-icons">person</i>
                    <p> User
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>