 <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: limegreen; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">WAKOBO</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac</p>
                            <a href="about.html">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: sandybrown; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">CHARITY WORKS</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac</p>
                            <a href="charity.html">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-left" style="width: 24rem; background-color: dodgerblue; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">NEWS FEED</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac
                                elementum risus. Aliquam volutpat ex</p>
                            <a href="newsfeed.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: limegreen; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: right;">MUJINI SLUMS</h2>
                            <h4 style="text-align: right;">LOCATION</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                                facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis
                                eros sem, elementum consequat.</p>
                            <a href="mujini_slams.html">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: sandybrown; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">HEALTH CARE PROGRAM</h2>
                            <h4 style="text-align: right;">LOCATION</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                                facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis
                                eros sem, elementum consequat.</p>
                            <a href="health_care.html">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: dodgerblue; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">WATER PROJECT</h2>
                            <h4 style="text-align: right;">LOCATION</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas pellentesque eu enim eget luctus. Sed augue felis,
                                facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis
                                eros sem, elementum consequat.</p>
                            <a href="water_project.html">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: limegreen; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">WAKABO</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac</p>
                            <a href="#0">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: sandybrown; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">CHARITY WORKS</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac</p>
                            <a href="#0">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-right" style="width: 24rem; background-color: dodgerblue; color: white;">
                        <div class="card-body">
                            <h2 style="text-align: center;">NEWS FEED</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Aliquam
                                aliquam diam sit amet elit hendrerit
                                rutrum. Nam egestas laoreet ligula, ac
                                elementum risus. Aliquam volutpat ex</p>
                            <a href="#0">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Left and right controls -->
     <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
     </a>
     <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
     </a>
</div>
