<nav class="side-navbar" style="min-height: 100%">
    <!-- Sidebar Header-->
    <div class="card-header d-flex align-items-center">
        <div class="title">
            <p>Sub Title</p>
        </div>
    </div>
    <ul class="list-unstyled" >
        <li>
             <li class="active"><a href="pages-contacts.html">Student Admission</a></li>
            <li><a href="login.html">Student Details</a></li>
            <li><a href="pages-profile.html">Promote</a></li>
            <li><a href="settings.html">System Settings</a></li>
        </li>
    </ul>
</nav>