<nav class="side-navbar" style="min-height: 100%">
    <!-- Sidebar Header-->
    <div class="card-header d-flex align-items-center">
        <div class="title">
            <p>Sub Title</p>
        </div>
    </div>
    <ul class="list-unstyled" >
        <li>
             <li class="active"><a href="pages-contacts.html">Contacts</a></li>
            <li><a href="login.html">Login page</a></li>
            <li><a href="pages-profile.html">Profile</a></li>
            <li><a href="pages-pricing.html">Pricing table</a></li>
        </li>
    </ul>
</nav>