<header class="header">
    <div class="row wakobo-toolbar">
        <div class="col-2 offset-1">
            <img src="img/gb.svg" class="img-responsive flags">
            <img src="img/no.svg" class="img-responsive flags">
        </div>
        <div class="col-2 offset-6 align-items-center">
            <a href="login.html">Login</a>    |    <a href="registration.html">Registration</a>
        </div>
    </div>
</header>
<footer class="footer footer-black" style="color: white">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="home.html">
                        WAKABO
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="float-right">
            <ul>
                <li>
                    <a href="home.html">
                        Front Page
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="support.html">
                        Support
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>