{% set login = true %}
{% extends "base.html" %}
{% block content %}
{% include "partials/toolbar.html" %}
{% include "partials/footer.html" %}

<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="card bg-dark text-white">
    <img class="card-img" src="img/apple.jpg" alt="Card image" width="50px" height="600px">
    <div class="card-img-overlay">
      <div class="" align="center">
        <h1 class="card-title" style="font-size: 50px">Welcome to WAKABO!</h1>
        <P></P>
        <P></P>
        <h2>The business established by a dream.</h2>
        <P></P>
        <P></P>
        <button class="btn btn-primary btn-round btn-lg btn-success">
          <i class="material-icons"></i> Learn more
        </button>
      </div>
      <P></P>
      <P></P>
      <div class="page">
        {% include "partials/slider.html" %}
      </div>
    </div>
  </div>
  <!-- subscription part -->
  <div class="card bg-dark text-white">
    <img class="card-img" src="img/image.jpg" alt="Card image" width="35px" height="">
    <div class="card-img-overlay">
      <div class="row">
        <div class="col-6 offset-1">
          <h1 class="card-title">Subscribe to our newsfeed</h1>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label class="bmd-label-floating" for="email"></label>
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="col-1">
          <button class="btn btn-primary btn-round btn-lg btn-success">
            <i class="material-icons"></i> Sign up
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- contact part -->
  <div class="card" id="contact">
    <div class="card-body">
      <h1 align="center">Contact</h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="bmd-label-floating" for="full_name">Full Name</label>
            <input type="text" class="form-control" id="full_name">
          </div>
          <div class="form-group">
            <label class="bmd-label-floating" for="mail">E mail</label>
            <input type="text" class="form-control" id="mail">
          </div>
          <div class="input-group">
            <label class="bmd-label-floating">Message</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <button class="btn btn-primary btn-round btn-lg btn-success">
            <i class="material-icons"></i> Send
          </button>
        </div>
        <div class="col">
          <img src="img/map.jpg">
          <div class="row">
            <div class="col-4">
              <button class="btn btn-primary btn-fab btn-success btn-fab-mini btn-round">
                <i class="material-icons">add_location</i>
              </button>
              <p>123 House</br>
                Street town</br>
                Country</p>
            </div>
            <div class="col-4">
              <button class="btn btn-primary btn-fab btn-success btn-fab-mini btn-round">
                <i class="material-icons">mail</i>
              </button>
              <p>hello@gmail.com</p>
            </div>
            <div class="col-4">
              <button class="btn btn-primary btn-fab btn-success btn-fab-mini btn-round">
                <i class="material-icons">local_phone</i>
              </button>
              <p>+254(20)74057686</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "partials/footer.html" %}
{% endblock %}